---
import { getCollection, render } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import SectionLayout from "../../components/SectionLayout.astro"
import { Icon } from "astro-icon/components"
import ToolList from "../../components/ToolList.astro"
import { ProjectImagesSwiper } from "../../components/PortfolioSwiper"
import "swiper/css"
import "swiper/css/pagination"

export async function getStaticPaths() {
  const projects = await getCollection("projects")

  return projects.map((project) => ({
    params: { id: project.slug },
    props: { project },
  }))
}

const { project } = Astro.props
const { data, slug } = project
const {
  name,
  cover,
  repository,
  live,
  fullstack,
  frontend,
  backend,
  images,
  baas,
  user,
} = data

const { Content } = await render(project)
---

<Layout>
  <SectionLayout>
    <img
      src={`/images/${cover}`}
      alt={slug}
      class="absolute inset-0 w-full h-full object-fill z-0"
    />
    <div
      class="pointer-events-none absolute inset-0 z-10 bg-[#090b11]/60 backdrop-blur-xs"
      aria-hidden="true"
    >
    </div>
    <main
      class="relative z-50 w-full min-h-dvh flex justify-center items-center"
    >
      <div
        class="flex flex-col md:flex-row w-full max-w-7xl md:h-[70dvh] md:items-stretch
        md:overflow-hidden bg-zinc-900/60 backdrop-blur-2xl
        rounded-2xl border border-white/10"
      >
        <div class="flex flex-col w-full min-w-md max-w-xl p-4">
          <button
            id="back-button"
            aria-label="Go back to portfolio"
            type="button"
            onclick="window.history.back()"
          >
            <Icon
              name="mdi:arrow-back-circle"
              class="text-2xl md:text-4xl text-gray-400 hover:text-lime-300 transition-colors duration-300 cursor-pointer"
            />
          </button>
          <h1
            class="text-[36px] md:text-[76px] font-bold mt-4"
            aria-label="Project Name"
          >
            {name}
          </h1>

          <div class="flex gap-2 py-2" aria-label="Project Links">
            <a
              id={`${slug}-live-link`}
              aria-label="Visit live project"
              href={live}
              target="_blank"
              rel="noopener noreferrer"
              title="Live"
            >
              <Icon
                name="mdi:world-wide-web"
                class="text-2xl md:text-4xl text-gray-400 hover:text-lime-300 transition-colors duration-300 cursor-pointer"
              />
            </a>
            <a
              id={`${slug}-repository-link`}
              aria-label="Visit project repository"
              href={repository}
              target="_blank"
              rel="noopener noreferrer"
              title="Repository"
            >
              <Icon
                name="mdi:github"
                class="text-2xl md:text-4xl text-gray-400 hover:text-lime-300 transition-colors duration-300 cursor-pointer"
              />
            </a>
          </div>

          <div
            class="p-2 prose prose-invert flex-1 min-h-0 overflow-y-auto"
            aria-label="Project Description"
          >
            <Content />
            {
              user ? (
                <div class="flex flex-col p-4 bg-slate-400/10 rounded-2xl">
                  <span class="font-semibold text-lime-300/80">
                    Demo user: <span class="font-normal">{user.username}</span>
                  </span>
                  <span class="font-semibold text-lime-300/80">
                    Demo password:{" "}
                    <span class="font-normal">{user.password}</span>
                  </span>
                </div>
              ) : null
            }
          </div>
        </div>

        <div class="flex flex-col justify-center gap-6 p-4 max-w-2xl">
          <ProjectImagesSwiper images={images} slug={slug} client:load />
          <div
            class="flex flex-col p-4 md:p-8 bg-slate-400/10 rounded-2xl w-full mx-auto
            shadow-lg shadow-lime-300/10"
          >
            <h3
              class="text-xl md:text-2xl font-semibold text-center underline
                decoration-lime-300/80 decoration-2 underline-offset-6"
            >
              Tools
            </h3>
            {
              !fullstack ? (
                <div class="flex flex-col gap-4">
                  <ToolList title="Frontend" items={frontend} />
                  <ToolList title="BaaS" items={baas} />
                </div>
              ) : (
                <div class="flex flex-col gap-4">
                  <ToolList title="Frontend" items={frontend} />
                  <ToolList title="Backend" items={backend} />
                </div>
              )
            }
          </div>
        </div>
      </div>
    </main>
  </SectionLayout>
</Layout>
