---
import { getCollection, render } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import { fade } from "astro:transitions"
import SectionLayout from "../../components/SectionLayout.astro"
import { Icon } from "astro-icon/components"
import ImageCarousel from "../../components/ImageCarousel.astro"
import ToolList from "../../components/ToolList.astro"

export async function getStaticPaths() {
  const projects = await getCollection("projects")

  return projects.map((project) => ({
    params: { id: project.slug },
    props: { project },
  }))
}

const { project } = Astro.props
const { data, slug } = project
const {
  name,
  cover,
  repository,
  live,
  fullstack,
  frontend,
  backend,
  images,
  baas,
  user,
} = data

const { Content } = await render(project)
---

<Layout>
  <SectionLayout>
    <img
      src={`/images/${cover}`}
      alt={slug}
      class="absolute inset-0 w-full h-full object-fill z-0"
    />
    <div
      class="pointer-events-none absolute inset-0 z-10 bg-[#090b11]/60 backdrop-blur-xs"
      aria-hidden="true"
    >
    </div>
    <main
      class="relative z-50 w-full min-h-dvh flex justify-center items-center overflow-y-auto"
    >
      <div
        class="flex flex-col lg:flex-row gap-4 p-4 md:p-6 lg:h-[70dvh] lg:items-stretch lg:overflow-hidden bg-zinc-900/80 backdrop-blur-3xl
        rounded-2xl border-2 border-white/10 shadow-2xl"
      >
        <div class="flex flex-col md:min-w-md md:max-w-lg">
          <h1
            transition:animate={fade({ duration: 200 })}
            transition:name={`name-${slug}`}
            class="text-[36px] md:text-[76px] font-bold"
            aria-label="Project Name"
          >
            {name}
          </h1>

          <div class="flex gap-2 py-2" aria-label="Project Links">
            <a
              id={`${slug}-live-link`}
              aria-label="Visit live project"
              href={live}
              target="_blank"
              rel="noopener noreferrer"
              title="Live"
            >
              <Icon
                name="mdi:world-wide-web"
                class="text-2xl md:text-4xl text-gray-400 hover:text-lime-300 transition-colors duration-300 cursor-pointer"
              />
            </a>
            <a
              id={`${slug}-repository-link`}
              aria-label="Visit project repository"
              href={repository}
              target="_blank"
              rel="noopener noreferrer"
              title="Repository"
            >
              <Icon
                name="mdi:github"
                class="text-2xl md:text-4xl text-gray-400 hover:text-lime-300 transition-colors duration-300 cursor-pointer"
              />
            </a>
          </div>

          <div
            class="p-2 md:mt-4 prose prose-invert text-balance rounded-2xl flex-1 min-h-0 overflow-y-auto"
            aria-label="Project Description"
          >
            <Content />
            {
              user ? (
                <div class="flex flex-col p-2 md:p-4 bg-lime-400/10 rounded-2xl border border-white/10">
                  <span class="font-semibold">
                    Demo user: <span class="font-normal">{user.username}</span>
                  </span>
                  <span class="font-semibold">
                    Demo password:{" "}
                    <span class="font-normal">{user.password}</span>
                  </span>
                </div>
              ) : null
            }
          </div>
        </div>

        <div class="flex flex-col justify-center gap-6 pb-4 md:max-w-2xl">
          {
            images && images.length > 0 ? (
              <ImageCarousel images={images} slug={slug} name={name} />
            ) : null
          }

          <div
            class="flex flex-col p-4 md:p-8 bg-lime-400/10 rounded-2xl border border-white/10"
          >
            <h3
              class="text-xl md:text-2xl font-semibold text-center underline
                decoration-lime-300 decoration-2 underline-offset-6"
            >
              Tools
            </h3>
            {
              !fullstack ? (
                <div class="flex flex-col gap-4">
                  <ToolList title="FrontEnd" items={frontend} />
                  <ToolList title="BaaS" items={baas} />
                </div>
              ) : (
                <div class="flex flex-col gap-4">
                  <ToolList title="FrontEnd" items={frontend} />
                  <ToolList title="BackEnd" items={backend} />
                </div>
              )
            }
          </div>
        </div>
      </div>
    </main>
  </SectionLayout>
</Layout>
