---
import { Icon } from "astro-icon/components"

type Item = {
  name: string
  icon: string
}

interface Props {
  title: string
  items: Item[] | undefined
}

const { title, items } = Astro.props
---

{
  items && items.length > 0 ? (
    <div class="flex flex-col gap-2 max-w-2xl">
      <h3 class="text-lg font-semibold">{title}:</h3>
      <ul
        class="flex flex-wrap items-center gap-4 p-1"
        aria-label={`${title} Technologies`}
      >
        {items.map((item) => (
          <li
            class="flex items-center gap-1"
            aria-label={`${item.name} ${title} Technology`}
          >
            <Icon name={item.icon} size={22} />
            <span>{item.name}</span>
          </li>
        ))}
      </ul>
    </div>
  ) : null
}
