---
import { getCollection } from "astro:content"
import SectionLayout from "../components/SectionLayout.astro"

const projects = await getCollection("projects")
const sortedProjects = projects.sort((a, b) => a.data.id - b.data.id)
---

<SectionLayout
  id="portfolio"
  header
  title="Portfolio"
  subtitle="A look at my journey through design, development, and innovation."
>
  <div class="p-4 m-auto max-w-screen-xl">
    <div class="grid gap-6 md:grid-cols-2 mt-16">
      {
        sortedProjects.map((project) => {
          const { slug, data } = project
          const { name, cover } = data
          return (
            <article
              id={slug}
              class="rounded-2xl border border-white/10 bg-zinc-900/80
              backdrop-blur-md p-6 md:p-8 cursor-pointer"
            >
              <a href={`/project/${slug}`}>
                <h3
                  transition:name={`name-${slug}`}
                  class="text-2xl font-bold text-lime-300 py-4"
                >
                  {name}
                </h3>
                <img
                  src={`/images/${cover}`}
                  alt={name}
                  class="w-full h-[400px] object-center rounded-xl"
                />
              </a>
            </article>
          )
        })
      }
    </div>
  </div>
</SectionLayout>

<script is:inline></script>
